.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;

}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--main-color-yellow);
}
.canvas {
  max-width: 1000px;
  height: 400px;
background-color: black;
  background-image: url('../images/payday-sale/Star 7.svg'),
    url('../images/payday-sale/Star 8.svg' ),
    url('../images/payday-sale/Star 5.svg'), url('../images/payday-sale/Star 6.svg'),
    url('../images/payday-sale/image 12.svg');

  background-size: 80px, 100px, 150px, 130px, cover;
  background-repeat: no-repeat;
  background-position: top 120px right 130px, top 270px left 130px, center, 100px 60px,
    center;
}
