@mixin sing-up__btn{
    //min-width: 20px;
    //min-height: 50px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: $main-color-white;
    background: $main-color-black;
    padding: 16px 16px;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: transform 80ms ease-in;
    margin-top: 10px;
    cursor: pointer;
  }